---
import Container from '@/components/core/Container';
import Button from '@/components/core/Button';
import { Image } from 'astro:assets';
import heroSection1 from '@/assets/images/hero-section-1.png';
import heroSection4 from '@/assets/images/hero-section-4.png';
import heroSection3 from '@/assets/images/hero-section-3.png';

import heroLogo1 from '@/assets/images/hero-logo-1.png';
import heroLogo2 from '@/assets/images/hero-logo-2.png';
import heroLogo3 from '@/assets/images/hero-logo-3.png';
import heroLogo4 from '@/assets/images/hero-logo-4.png';
import heroLogo5 from '@/assets/images/hero-logo-5.png';

import '@/assets/sass/components/section/hero.scss';
import TextLine from '@/components/core/TextLine';
import ImageShack from '../core/ImageShack';
import TextSplit from '../core/TextSplit';
---

<section class="section-hero" id="section-hero">
  <Container className="section-hero__container">
    <div class="section-hero__top">
      <Image
        class="remove_mobile_size"
        src={heroSection1}
        width={heroSection1.width}
        height={heroSection1.height}
        alt="hero-section-1"
      />
    </div>
    <div class="section-hero__center">
      <ImageShack rotate={36} duration={1} ease="bounce.out" y={100} client:load>
        <Image
          class="remove_mobile_size"
          src={heroSection3}
          width={heroSection3.width / 2}
          height={heroSection3.height / 2}
          alt="hero-section-3"
        />
      </ImageShack>
      <div class="section-hero__content">
        <h1 class="section-hero__content__title">
          Weaving Digital Experiences with Pixel <TextLine text="Perfection" />
        </h1>
        <TextSplit
          client:load
          className="section-hero__content__description"
          content="Transforming ideas into visually stunning designs while crafting"
        />
        <TextSplit
          client:load
          className="section-hero__content__description"
          content="user-friendly websites with a touch of innovation."
        />

        <Button className="section-hero__content__button">Get in touch !</Button>
      </div>
      <ImageShack rotate={360} duration={2} ease="bounce.out" client:load>
        <Image
          class="remove_mobile_size hero-section__image"
          src={heroSection4}
          width={heroSection4.width / 2}
          height={heroSection4.height / 2}
          alt="hero-section-2"
        />
      </ImageShack>
    </div>
  </Container>
  <div class="section-hero__logo">
    <div class="section-hero__logo__slide">
      <Image
        src={heroLogo1}
        alt="hero-logo-1"
        width={heroLogo1.width / 2}
        height={heroLogo1.height / 2}
      />
      <Image
        src={heroLogo2}
        alt="hero-logo-2"
        width={heroLogo2.width / 2}
        height={heroLogo2.height / 2}
      />
      <Image
        src={heroLogo3}
        alt="hero-logo-3"
        width={heroLogo3.width / 2}
        height={heroLogo3.height / 2}
      />
      <Image
        src={heroLogo4}
        alt="hero-logo-4"
        width={heroLogo4.width / 2}
        height={heroLogo4.height / 2}
      />
      <Image
        src={heroLogo5}
        alt="hero-logo-5"
        width={heroLogo5.width / 2}
        height={heroLogo5.height / 2}
      />
    </div>
  </div>
</section>
